.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
  }
  
  .left-side {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .right-side {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .movable-text {
    background-image: url('https://assets.ccbp.in/frontend/static-website/yoga-bg.png');
    background-size: cover;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    height: 90vh;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    position:absolute;;
  }
  .text-input{
    outline: none;
    padding-left: 10px;
   
    
    
  }

  .input-group{
    margin-top: 20px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
  }

  .input-ele{
    margin-left: 10px;
    height: 20px;
  }

  
  .label-text {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333; /* Default label color */
  }
  
  .label-text.font-size {
    color: #ff5733; /* Font Size label color */
  }
  
  .label-text.font-family {
    color: #3366ff; /* Font Family label color */
  }
  
  .label-text.font-color {
    color: #33cc33; /* Font Color label color */
  }
  
  